.navbar li {
  display: inline-block;
  text-align: center;
}

.itemLeft {
  width: 15%;
}

.itemCenter {
  width: 70%;
  font-size: 50px;
}

.itemRight {
  width: 15%;
}

.navbar {
  background: silver;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

li {
  padding: 15px 0;
}

body {
  font-size: 32px;
}
